.Alert
  margin: 24px
  padding: 16px
  p
    margin: 0
  &._Success
    border(1px, solid, $green300)
    background: $green200
    color: $green900
  &._Info
    border(1px, solid, $blue300)
    background: $blue200
    color: $blue900
  &._Warning
    border(1px, solid, $yellow300)
    background: $yellow200
    color: $yellow900
  &._Danger
    border(1px, solid, $red300)
    background: $red200
    color: $red900
  &._Float
    &._Success
      box-shadow(0 6px 24px $green200)
    &._Info
      box-shadow(0 6px 16px $blue100)
    &._Warning
      box-shadow(0 6px 16px $yellow100)
    &._Danger
      box-shadow(0 6px 16px $red100)
