.GlobalHeader
  .symbol
    a(href="#{path}")
      img(src="#{path}img/kame.png", width="72")
  .pageTitle
    h1
      a(href="#{path}")
        | zenigame
        if title
          span #{title}
  .navBtn
    button.btn.f.lg
      i.znicon-menu
