meta(charset="utf=8")
meta(content="ideyuta", name="author")
meta(content="IE=Edge", http-equiv="X-UA-Compatible")
meta(content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no", name="viewport")
meta(content="website", property="og:type")
meta(content="Zenigame", property="og:title")
meta(content="http://ideyuta.com/zenigame/", property="og:url")
meta(content="", property="og:image")
meta(content="", property="og:description" )
block window_title
  title zenigame
link(rel="stylesheet", href="#{path}css/base.css")
link(rel="stylesheet", href="#{path}fonts/icomoon.css")
link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Inconsolata")
link(href="http://fonts.googleapis.com/earlyaccess/notosansjapanese.css", rel="stylesheet", type="text/css")
script.
  var zn = {};
script(src="#{path}js/base.js")
