.Navigation
  h2 Components
  ul
    li: a(href="/styles/alert.html") Alert
    li: a(href="/styles/breadcrumbs.html") Breadcrumbs
    li: a(href="/styles/button.html") Buttons
    li: a(href="/styles/color.html") Color
    li: a(href="/styles/dropdownMenu.html") DropDownMenu
    li: a(href="/styles/grid.html") Grid
    li: a(href="/styles/icons.html") Icons
    li: a(href="/styles/modal.html") Modal
    li: a(href="/styles/pagination.html") Pagination
    li: a(href="/styles/switches.html") Switches
    li: a(href="/styles/tabs.html") Tabs
    li: a(href="/styles/table.html") Table
    li: a(href="/styles/textfields.html") TextFields
