typo($size, $color = $default-text-color, $weight = 300, $line-height = $default-line-height, $space = 0)
  color: $color
  font-size: $size
  font-weight: $weight
  line-height: $line-height
  letter-spacing: $space
