.Alert {
  @include border(1px, solid, $light-gray, 2px);
  @include box-shadow(0 6px 16px $light-gray);
  margin: 24px;
  padding: 16px;
  p {
    margin: 0;
  }
  &._Success {
    background: $extra-light-green;
    border-color: $light-green;
    color: $green;
  }
  &._Info {
    background: $extra-light-blue;
    border-color: $light-blue;
    color: $blue;
  }
  &._Warning {
    background: $light-yellow;
    border-color: $yellow;
    color: $yellow;
  }
  &._Danger {
    background: $light-red;
    border-color: $red;
    color: $red;
  }
}
