.Breadcrumbs
  ol
    clearfix()
    list-style: none
    padding: 0
    margin: 8px
    li
      typo($default-font-size - 2px, $gray700, 300, 1.5em)
      float: left
      a
        text-decoration: none
      + li
        &:before
          color: $gray300
          content: "/"
          padding: 0 8px
