.CheckBox {
  display: inline-block;
  margin: 4px 8px;

  input[type=checkbox] {
    display: inline-block;
    margin-right: 4px;
    & + label {
      cursor: pointer;
      display: inline-block;
      position: relative;
    }
  }

  // IE8以下に適用しないためのmedia query
  @media (min-width: 0px) {
    input[type=checkbox] { 
      display: none;
      margin: 0;
      & + label {
        padding: 0 0 0 24px;
        &:before {
          @include border(2px, solid, $gray300, 2px);
          @include pos(absolute, 0, 0);
          @include size(14px);
          background: #fff;
          content: "";
          display: block;
        }
      }
      &:checked + label {
        &:after {
          @include border(0 0 3px 3px, solid, $blue500, 3px);
          @include pos(absolute, 3px, 3px);
          @include size(10px, 5px);
          content: "";
          display: block;
          transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);
        }
      }
      & + label:hover:before {
        border-color: $blue500;
      }
      & + label:active:before {
        background: $blue50;
      }
    }
  }

}
