/*
Row & Column

row: 1行
column: 1列（どちらかというとセルに近いが）
divide: rowの分割数を指定
unite: columnの結合数を指定

Styleguide 2.0
*/

.Row {
  @include clearfix;
  @include size(100%, auto);
  overflow: hidden;
}

@for $divide from 2 through 5 {
  .d#{$divide} {
    .column {
      @include size(floor(100% / $divide), auto);
      float: left;
      @for $unite from 2 through $divide - 1 {
        &.u#{$unite} {
          width: floor(100% / $divide * $unite)
        }
      }
    }
  }
}
