/*
Colors

Markup:
<div class="clearfix">
<div class="sample extra-light-{$modifiers}"></div>
<div class="sample light-{$modifiers}"></div>
<div class="sample {$modifiers}"></div>
<div class="sample dark-{$modifiers}"></div>
<div class="sample extra-dark-{$modifiers}"></div>
</div>

.blue - blue
.red - red
.green - green
.yellow - yellow

Styleguide 2.0.1 
*/

.sample {
  @include size(120px, 40px);
  float: left;
}

.extra-light-blue { background: $extra-light-blue; }
.light-blue { background: $light-blue; } 
.blue { background: $blue; } 
.dark-blue { background: $dark-blue; } 
.extra-dark-blue { background: $extra-dark-blue; }

.extra-light-red { background: $extra-light-red; }
.light-red { background: $light-red; } 
.red { background: $red; } 
.dark-red { background: $dark-red; } 
.extra-dark-red { background: $extra-dark-red; }

.extra-light-green { background: $extra-light-green; }
.light-green { background: $light-green; } 
.green { background: $green; } 
.dark-green { background: $dark-green; } 
.extra-dark-green { background: $extra-dark-green; }

.extra-light-yellow { background: $extra-light-yellow; }
.light-yellow { background: $light-yellow; } 
.yellow { background: $yellow; } 
.dark-yellow { background: $dark-yellow; } 
.extra-dark-yellow { background: $extra-dark-yellow; }


