/*
Styles

Styleguide 2.0
*/

@import "colors";
@import "buttons";
@import "typography";

.clear { clear: both; }
.clearfix { @include clearfix; }

.pull-left { float: left; }
.pull-right { float: right !important; }
.pull-center { margin: 0 auto; }
.flush-left { text-align: left !important; }
.flush-right { text-align: right !important; }
.flush-center { text-align: center; }


body { font-family: $font-family-body; }

// Weight 
//-------------------------------

.b, strong { font-weight: 700 !important; }


// Opacity 
//-------------------------------

.o3 { @include opacity(.3); }
.o5 { @include opacity(.5); }
.o8 { @include opacity(.8); }


// Grid
//-------------------------------

// TODO スマホの場合パーセントに置き換える

$default-pc-width: 1024px;
$default-width: 100%;

.row {
  @include clearfix;
  @include size($default-width, auto);
  overflow: hidden;
}

@for $divide from 2 through 5 {
  .d#{$divide} {
    .column {
      @include size(floor($default-width / $divide), auto);
      float: left;
      @for $unite from 2 through $divide - 1 {
        &.u#{$unite} {
          width: floor($default-width / $divide * $unite)
        }
      }
    }
  }
}
.contents {
  @include size(90%, auto);
  @include space(4%, 4px auto);
  @include border(1px, solid, $extra-light-gray, $default-radius);
  background: $white;
}


// Tab
//-------------------------------

.tabheader {
  @include size(100%, 40px);
  z-index: 1;
  .tabnav {
    li {
      padding: 0 5px 0 0;
      float: left;
      cursor: pointer;
      p {
        @include border-radius($default-radius $default-radius 0 0);
        line-height: 40px;
        padding: 0 20px;
        background: $dark-white;
        &:hover { background: $extra-light-gray; }
      }
      &.is-active {
        cursor: default;
        p {
          background: $light-black;
          color: $white;
        }
      }
    }
  }
}


// Select Box
//-------------------------------

.selectbox {
  @include size(88%, 48px);
  margin: 0 auto;
  position: relative;
  z-index: 10;
  .selected {
    @include btn(48px, 0 4%);
    @include typo($default-font-size, $gray, 300, 48px);
    @include btn-varient($dark-gray, $white);
    width: 92%;
  }
  .selectnav {
    @include size(100%, auto);
    @include border(1px, solid, $extra-light-gray, 2px);
    @include pos(absolute, 0, 0);
    @include box-shadow(0 2px 8px $gray);
    display: none;
    background: $white;
    z-index: 2;
    li {
      @include size(92%, 48px);
      @include typo($default-font-size, $gray, 300, 48px);
      padding: 0 4%;
      &:last-child { border: 0; }
    }
  }
}


// dropdown menu 
//-------------------------------

.dropdown {
  @include pos(relative, 0, 0, 1);
  .btn { padding: 0 30px 0 10px; }
  .btn, .btn:hover {
    @include bg-img("#{$img_path}/icon-toggle-down.png", no-repeat, right, 16px);
  }
}

.dropdown-menu {
  @include pos(absolute, 90%, 0, 2);
  @include box-shadow(0 1px 2px $dark-gray);
  @include border-radius($default-radius);
  display: none;
  width: auto;
  padding: 10px 15px;
  background: $white;
  li { padding: 5px 0; }
  a {
    @include typo(13px, $white, null, 1.45);
    color: $light-black;
    white-space: nowrap;
    text-decoration: none;
    &:hover { color: $blue; }
  }
}


// toggle 
//-------------------------------

.toggle {
  .toggle-icon {
    @include bg-img("#{$img_path}/icon-toggle-down.png", no-repeat, right, 16px); 
  }
  &.is-active {
    .toggle-icon {
      @include bg-img("#{$img_path}/icon-toggle-up.png", no-repeat, right, 16px);
    }
  }
}


// toggle swith
// powered by http://proto.io/freebies/onoff/
//-------------------------------

.toggletitle {
  line-height: 30px;
}
.toggleswitch {
  @include size(70px, 30px);
  @include pos(relative, 0, null, null, 0);
  .checkbox { display: none; }
  label {
    @include size(100%);
    display: block;
    overflow: hidden;
    border-radius: 16px;
  }
  .inner {
    width: 200%;
    height: 100%;
    margin-left: -100%;
    -webkit-transition: margin 100ms ease-in 0s;
    transition: margin 100ms ease-in 0s;
    &:before,
    &:after {
      @include size(50%, 30px);
      @include box-shadow(0 0 2px $light-gray inset);
      @include border-radius(15px); 
      float: left;
      padding: 0;
      line-height: 30px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
    &:before {
      content: "ON";
      padding-left: 10px;
      background-color: $green;
      color: $white;
    }
    &:after {
      content: "OFF";
      padding-right: 10px;
      background-color: $extra-light-gray;
      color: $gray;
      text-align: right;
    }
  }
  .switch {
    @include size(26px);
    @include pos(absolute, 2px, null, null, 42px);
    @include box-shadow(0 0 1px $light-gray);
    margin: 0px;
    background: $white;
    border-radius: 18px;
    -webkit-transition: all 100ms ease-in 0s;
    transition: all 100ms ease-in 0s; 
  }
  .checkbox:checked + label {
    .inner { margin-left: 0; }
    .switch { right: 2px; }
  }
}

