.DropDownMenu {
  position: relative;
  .btn {
    .label {
      @include border(0 1px 0 0, solid, $light-gray);
      padding: 0 16px 0 0;
      font-weight: 500;
       + .value {
        padding: 0 0 0 16px;
      }
    }
  }

  .itemList {
    @include box-shadow(0 6px 24px $light-gray);
    @include border(1px, solid, $extra-light-gray, 2px);
    @include pos(absolute, 0, 0);
    background: $white;
    margin: 4px;
    padding: 3px 0;
    width: 260px;
    z-index: 100;
    &.isHidden {
      display: none;
    }

    .item {
      @include typo($base-font-size - 2px, $gray, 300, 18px);
      color: $extra-dark-gray;
      display: block;
      padding: 8px 18px;
      text-decoration: none;
      &:hover {
        background: $extra-light-gray;
      }
      &.isActive {
        color: $blue;
        cursor: default;
        &:hover {
          background: $white;
        }
      }
      [class^="znicon-"],
      [class*=" znicon-"],
      .icon {
        padding: 0 8px 0 0;
      }
    }
  }
}
