.DropDownMenu {
  position: relative;
  .btn {
    .label {
      @include border(0 1px 0 0, solid, $gray200);
      padding: 0 16px 0 0;
      font-weight: 500;
       + .value {
        padding: 0 0 0 16px;
      }
    }
  }

  .itemList {
    @include box-shadow(0 6px 24px $gray200);
    @include border(1px, solid, $gray100, 2px);
    @include pos(absolute, 0, 0);
    background: #fff;
    margin: 4px;
    padding: 3px 0;
    width: 260px;
    z-index: 100;
    &.isHidden {
      display: none;
    }

    .item {
      @include typo($base-font-size - 2px, $gray700, 300, 18px);
      display: block;
      padding: 8px 18px;
      text-decoration: none;
      &:hover {
        background: $gray100;
      }
      &.isActive {
        color: $blue500;
        cursor: default;
        &:hover {
          background: #fff;
        }
      }
      [class^="znicon-"],
      [class*=" znicon-"],
      .icon {
        padding: 0 8px 0 0;
      }
    }
  }
}
