.Wrapper.isFixed {
  position: fixed;
  width: 100%;
}

.Modal {
  @include pos(fixed, 0, 0);
  @include size(100%);
  z-index: 6000000;
  display: none;
  &.isActive {
    display: block;
  }
  .backdrop {
    @include pos(fixed, 0, 0);
    @include size(100%);
    background: rgba($black, .48);
    background: #000\9;
    filter: alpha(opacity=48); /* IE lt 8 */
    opacity: 1;
    cursor: pointer;
    z-index: 0; 
  }
  .dialog {
    @include border-radius(2px);
    @include box-shadow(0 8px 24px $dark-gray);
    @include clearfix;
    @include space(0 24px, 24px auto);
    @include z(1);
    background: $white;
    max-width: 640px;
    width: 80%;
  }
  .page {
    @include clearfix;
    @include size(100%);
    @include z(1);
    background: $white;
    overflow: auto;
  }
  .content {
    @include typo($base-font-size - 2px, $light-black, 300, 1.6);
  }
  .control {
    @include border(1px 0 0 0, solid, $extra-light-gray);
    text-align: right;
  }
}
