.RadioBtn
  display: inline-block
  margin: 4px 8px
  input[type=radio]
    display: inline-block
    margin-right: 4px
    & + label
      cursor: pointer
      display: inline-block
      position: relative
  /* IE8以下に適用しないためのmedia query */
  @media (min-width: 0px)
    input[type=radio]
      display: none
      margin: 0
      & + label
        padding: 0 0 0 24px
        &:before
          border(2px, solid, $gray300, 50%)
          pos(absolute, 0, 0)
          size(14px)
          background: #fff
          content: ""
          display: block
      &:checked + label
        cursor: default
        &:hover:before
          border-color: $gray300
          background: #fff
        &:after
          border-radius(50%)
          pos(absolute, 5px, 5px)
          size(8px)
          background: $blue500
          content: ""
          display: block
      & + label:hover:before
        border-color: $blue500
      & + label:active:before
        background: $blue50
