.RadioBtn {
  display: inline-block;
  margin: 4px 8px;

  input[type=radio] {
    display: inline-block;
    margin-right: 4px;
    & + label {
      cursor: pointer;
      display: inline-block;
      position: relative;
    }
  }

  // IE8以下に適用しないためのmedia query
  @media (min-width: 0px) {
    input[type=radio] { 
      display: none;
      margin: 0;
      & + label {
        padding: 0 0 0 24px;
        &:before {
          @include border(2px, solid, $light-gray, 50%);
          @include pos(absolute, 0, 0);
          @include size(14px);
          background: $white;
          content: "";
          display: block;
        }
      }
      &:checked + label {
        cursor: default;
        &:hover:before {
          border-color: $light-gray;
          background: $white;
        }
        &:after {
          @include border-radius(50%);
          @include pos(absolute, 5px, 5px);
          @include size(8px);
          background: $blue;
          content: "";
          display: block;
        }
      }
      & + label:hover:before {
        border-color: $blue;
      }
      & + label:active:before {
        background: $extra-light-blue;
      }
    }
  }
}
