.Table {
  margin: 8px;

  table {
    @include size(100%, auto);
    caption {
      @include typo($base-font-size - 4px, $blue, 300, 1.5em);
      caption-side: bottom;
      padding: 12px 0;
      text-align: left;
    }
    thead {
      @include border(2px 0, solid, $dark-gray);
      th {
        @include typo($base-font-size - 2px, $black, 700, 1.5em);
        padding: 12px 8px;
        text-align: left;
      }
    }
    tbody {
      td {
        @include typo($base-font-size - 2px, $black, 300, 1.5em);
        padding: 12px 8px;
      }
    }
  }


  &._Basic {
    table {
      tbody {
        tr {
          @include border(0 0 1px 0, solid, $dark-gray);
        }
        td {
          &:first-child {
            font-weight: 700;
          }
        }
      }
    }
  }


  &._Row {
    table {
      tbody {
        tr:first-child {
          @include border(1px 0, solid, $light-black);
          td:first-child {
            @include border(2px 0, solid, $light-black);
          }
        }
        td {
          @include border(0 0 1px 0, solid, $dark-gray);
          &:first-child {
            border-width: 0 0 2px 0;
          }
        }
      }
    }
  }


  &._Clickable {
    table {
      tbody {
        tr {
          cursor: pointer;
          &:hover {
            background: $extra-light-gray;
          }
          &:active {
            background: darken($extra-light-gray, 4%);
          }
        }
      }
    }
  }


}
