.TextField {
  padding: 8px;
  &.isOK {
    input {
      @include border(0 0 2px 0, solid, $green);
    }
  }
  &.isError {
    .validated {
      display: block;
    }
    input {
      @include border(0 0 2px 0, solid, $red);
    }
  }
  .label {
    @include typo($base-font-size - 4px, $gray, 300, 1em);
    margin: 0;
  }
  input {
    @include border(0 0 1px 0, solid, $light-gray);
    @include typo($base-font-size, $light-black, 300, 24px);
    @include size(100%, 39px);
    padding: 0 2px;
    &:focus { outline: none; }
    &::-webkit-input-placeholder {
      color: $light-gray;
      font-weight: 100;
    }
  }
  .validated {
    @include typo($base-font-size - 6px, $red, 700, 1.5em);
    display: none;
    margin: 0 auto;
    padding: 4px 0;
  }
}
