/*
Styles

Styleguide 2.0
*/

.clear { clear: both; }
.clearfix { @include clearfix; }

.pull-left { float: left; }
.pull-right { float: right !important; }
.pull-center { margin: 0 auto; }
.flush-left { text-align: left !important; }
.flush-right { text-align: right !important; }
.flush-center { text-align: center; }


body { font-family: $font; }

// Weight 
//-------------------------------

.b, strong { font-weight: 700 !important; }


// Opacity 
//-------------------------------

.o3 { @include opacity(.3); }
.o5 { @include opacity(.5); }
.o8 { @include opacity(.8); }
