- var title = "Icons"
- var path  = "../"
include ../_base
  prepend contents

    :markdown
      ##Icons

    ul.Icons
      li: p
        i.znicon-chevron-down
        span znicon-chevron-down
      li: p
        i.znicon-chevron-left
        span znicon-chevron-left
      li: p
        i.znicon-chevron-right
        span znicon-chevron-right
      li: p
        i.znicon-chevron-up
        span znicon-chevron-up
      li: p
        i.znicon-chevron-small-down
        span znicon-chevron-small-down
      li: p
        i.znicon-chevron-small-left
        span znicon-chevron-small-left
      li: p
        i.znicon-chevron-small-right
        span znicon-chevron-small-right
      li: p
        i.znicon-chevron-small-up
        span znicon-chevron-small-up
      li: p
        i.znicon-chevron-thin-down
        span znicon-chevron-thin-down
      li: p
        i.znicon-chevron-thin-left
        span znicon-chevron-thin-left
      li: p
        i.znicon-chevron-thin-right
        span znicon-chevron-thin-right
      li: p
        i.znicon-chevron-thin-up
        span znicon-chevron-thin-up
      li: p
        i.znicon-chevron-with-circle-down
        span znicon-chevron-with-circle-down
      li: p
        i.znicon-chevron-with-circle-left
        span znicon-chevron-with-circle-left
      li: p
        i.znicon-chevron-with-circle-right
        span znicon-chevron-with-circle-right
      li: p
        i.znicon-chevron-with-circle-up
        span znicon-chevron-with-circle-up
      li: p
        i.znicon-dots-three-horizontal
        span znicon-dots-three-horizontal
      li: p
        i.znicon-dots-three-vertical
        span znicon-dots-three-vertical
      li: p
        i.znicon-credit-card
        span znicon-credit-card
      li: p
        i.znicon-emoji-happy
        span znicon-emoji-happy
      li: p
        i.znicon-emoji-neutral
        span znicon-emoji-neutral
      li: p
        i.znicon-emoji-sad
        span znicon-emoji-sad
      li: p
        i.znicon-help-with-circle
        span znicon-help-with-circle
      li: p
        i.znicon-help2
        span znicon-help2
      li: p
        i.znicon-print
        span znicon-print
      li: p
        i.znicon-eye
        span znicon-eye
      li: p
        i.znicon-paper-clip
        span znicon-paper-clip
      li: p
        i.znicon-mail
        span znicon-mail
      li: p
        i.znicon-link
        span znicon-link
      li: p
        i.znicon-bell
        span znicon-bell
      li: p
        i.znicon-lock
        span znicon-lock
      li: p
        i.znicon-unlock
        span znicon-unloce
      li: p
        i.znicon-ribbon
        span znicon-ribbon
      li: p
        i.znicon-image
        span znicon-image
      li: p
        i.znicon-signal
        span znicon-signal
      li: p
        i.znicon-target
        span znicon-target
      li: p
        i.znicon-clipboard
        span znicon-clipboard
      li: p
        i.znicon-clock
        span znicon-clock
      li: p
        i.znicon-watch
        span znicon-watch
      li: p
        i.znicon-air-play
        span znicon-air-play
      li: p
        i.znicon-camera
        span znicon-camera
      li: p
        i.znicon-video
        span znicon-video
      li: p
        i.znicon-disc
        span znicon-disc
      li: p
        i.znicon-printer
        span znicon-printer
      li: p
        i.znicon-monitor
        span znicon-monitor
      li: p
        i.znicon-server
        span znicon-server
      li: p
        i.znicon-cog
        span znicon-cog
      li: p
        i.znicon-heart
        span znicon-heart
      li: p
        i.znicon-align-justify
        span znicon-align-justify
      li: p
        i.znicon-align-left
        span znicon-align-left
      li: p
        i.znicon-align-center
        span znicon-align-center
      li: p
        i.znicon-align-right
        span znicon-align-right
      li: p
        i.znicon-book
        span znicon-book
      li: p
        i.znicon-layers
        span znicon-layers
      li: p
        i.znicon-stack
        span znicon-stack
      li: p
        i.znicon-stack-2
        span znicon-stack-2
      li: p
        i.znicon-paper
        span znicon-paper
      li: p
        i.znicon-paper-stack
        span znicon-paper-stack
      li: p
        i.znicon-search
        span znicon-search
      li: p
        i.znicon-zoom-in
        span znicon-zoom-in
      li: p
        i.znicon-zoom-out
        span znicon-zoom-out
      li: p
        i.znicon-reply
        span znicon-reply
      li: p
        i.znicon-circle-plus
        span znicon-circle-plus
      li: p
        i.znicon-circle-minus
        span znicon-circle-minus
      li: p
        i.znicon-circle-check
        span znicon-circle-check
      li: p
        i.znicon-circle-cross
        span znicon-circle-cross
      li: p
        i.znicon-square-plus
        span znicon-square-plus
      li: p
        i.znicon-square-minus
        span znicon-square-minus
      li: p
        i.znicon-square-check
        span znicon-square-check
      li: p
        i.znicon-square-cross
        span znicon-square-cross
      li: p
        i.znicon-microphone
        span znicon-microphone
      li: p
        i.znicon-record
        span znicon-record
      li: p
        i.znicon-skip-back
        span znicon-skip-back
      li: p
        i.znicon-rewind
        span znicon-rewind
      li: p
        i.znicon-play
        span znicon-play
      li: p
        i.znicon-pause
        span znicon-pause
      li: p
        i.znicon-stop
        span znicon-stop
      li: p
        i.znicon-fast-forward
        span znicon-fast-forward
      li: p
        i.znicon-skip-forward
        span znicon-skip-forward
      li: p
        i.znicon-shuffle
        span znicon-shuffle
      li: p
        i.znicon-repeat
        span znicon-repeat
      li: p
        i.znicon-folder
        span znicon-folder
      li: p
        i.znicon-umbrella
        span znicon-umbrella
      li: p
        i.znicon-moon
        span znicon-moon
      li: p
        i.znicon-thermometer
        span znicon-thermometer
      li: p
        i.znicon-drop
        span znicon-drop
      li: p
        i.znicon-sun
        span znicon-sun
      li: p
        i.znicon-cloud
        span znicon-cloud
      li: p
        i.znicon-cloud-upload
        span znicon-cloud-upload
      li: p
        i.znicon-cloud-download
        span znicon-cloud-download
      li: p
        i.znicon-upload
        span znicon-upload
      li: p
        i.znicon-download
        span znicon-download
      li: p
        i.znicon-location
        span znicon-location
      li: p
        i.znicon-location-2
        span znicon-location-2
      li: p
        i.znicon-map
        span znicon-map
      li: p
        i.znicon-battery
        span znicon-battery
      li: p
        i.znicon-head
        span znicon-head
      li: p
        i.znicon-briefcase
        span znicon-briefcase
      li: p
        i.znicon-speech-bubble
        span znicon-speech-bubble
      li: p
        i.znicon-globe
        span znicon-globe
      li: p
        i.znicon-box
        span znicon-box
      li: p
        i.znicon-reload
        span znicon-reload
      li: p
        i.znicon-share
        span znicon-share
      li: p
        i.znicon-marquee
        span znicon-marquee
      li: p
        i.znicon-marquee-plus
        span znicon-marquee-plus
      li: p
        i.znicon-marquee-minus
        span znicon-marquee-minus
      li: p
        i.znicon-tag
        span znicon-tag
      li: p
        i.znicon-power
        span znicon-power
      li: p
        i.znicon-command
        span znicon-command
      li: p
        i.znicon-alt
        span znicon-alt
      li: p
        i.znicon-esc
        span znicon-esc
      li: p
        i.znicon-bar-graph
        span znicon-bar-graph
      li: p
        i.znicon-bar-graph-2
        span znicon-bar-graph-2
      li: p
        i.znicon-pie-graph
        span znicon-pie-graph
      li: p
        i.znicon-star
        span znicon-star
      li: p
        i.znicon-arrow-left
        span znicon-arrow-left
      li: p
        i.znicon-arrow-right
        span znicon-arrow-right
      li: p
        i.znicon-arrow-up
        span znicon-arrow-up
      li: p
        i.znicon-arrow-down
        span znicon-arrow-down
      li: p
        i.znicon-volume
        span znicon-volume
      li: p
        i.znicon-mute
        span znicon-mute
      li: p
        i.znicon-loader
        span znicon-loader
      li: p
        i.znicon-bag
        span znicon-bag
      li: p
        i.znicon-ban
        span znicon-ban
      li: p
        i.znicon-flag
        span znicon-flag
      li: p
        i.znicon-trash
        span znicon-trash
      li: p
        i.znicon-maximize
        span znicon-maximize
      li: p
        i.znicon-minimize
        span znicon-minimize
      li: p
        i.znicon-plus
        span znicon-plus
      li: p
        i.znicon-minus
        span znicon-minus
      li: p
        i.znicon-check
        span znicon-check
      li: p
        i.znicon-cross
        span znicon-cross
      li: p
        i.znicon-move
        span znicon-move
      li: p
        i.znicon-delete
        span znicon-delete
      li: p
        i.znicon-menu
        span znicon-menu
      li: p
        i.znicon-archive
        span znicon-archive
      li: p
        i.znicon-inbox
        span znicon-inbox
      li: p
        i.znicon-outbox
        span znicon-outbox
      li: p
        i.znicon-file
        span znicon-file
      li: p
        i.znicon-file-add
        span znicon-file-add
      li: p
        i.znicon-file-subtract
        span znicon-file-subtract
      li: p
        i.znicon-help
        span znicon-help
      li: p
        i.znicon-open
        span znicon-open
      li: p
        i.znicon-ellipsis
        span znicon-ellipsis
      li: p
        i.znicon-qrcode
        span znicon-qrcode

    :markdown
      ```jade
      i.znicon-heart
      ```
