- var title = "Switches"
html
  head
    include ../partials/_Head
      prepend window_title
        &mdash;#{title}
  body
    include ../partials/_GlobalHeader
    .Contents

      :markdown
        ##Radio Button

      .RadioBtn
        input(type="radio", name="radio", checked="checked", id="radio1")
        label(for="radio1") radio
      .RadioBtn
        input(type="radio", name="radio", id="radio2")
        label(for="radio2") radio
      .RadioBtn
        input(type="radio", name="radio", id="radio3")
        label(for="radio3") radio
      .RadioBtn
        input(type="radio", name="radio", id="radio4")
        label(for="radio4") radio

      :markdown
        ```jade
        .RadioBtn
          input(type="radio", name="radio", checked="checked", id="radio1")
          label(for="radio1") radio
        ```


      :markdown
        ##CheckBox

      .CheckBox
        input(type="checkbox", checked="checked", id="checkbox1")
        label(for="checkbox1") checkbox
      .CheckBox
        input(type="checkbox", id="checkbox2")
        label(for="checkbox2") checkbox
      .CheckBox
        input(type="checkbox", id="checkbox3")
        label(for="checkbox3") checkbox

      :markdown
        ```jade
        .CheckBox
          input(type="checkbox", name="checkbox", checked="checked", id="checkbox1")
          label(for="checkbox1") checkbox
        ```


      :markdown
        ##Toggle Button

      .ToggleBtn
        input(type="checkbox", checked="checked", id="togglebtn1")
        label(for="togglebtn1")

      :markdown
        ```jade
        .ToggleBtn
          input(type="checkbox", checked="checked", id="togglebtn1")
          label(for="togglebtn1")
        ```
