@font-face {
	font-family: 'icomoon';
	src:url('/fonts/icomoon.eot?-xtoaql');
	src:url('/fonts/icomoon.eot?#iefix-xtoaql') format('embedded-opentype'),
		url('/fonts/icomoon.woff?-xtoaql') format('woff'),
		url('/fonts/icomoon.ttf?-xtoaql') format('truetype'),
		url('/fonts/icomoon.svg?-xtoaql#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="znicon-"], [class*=" znicon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.znicon-eye:before {
	content: "\e000";
}

.znicon-paper-clip:before {
	content: "\e001";
}

.znicon-mail:before {
	content: "\e002";
}

.znicon-toggle:before {
	content: "\e003";
}

.znicon-layout:before {
	content: "\e004";
}

.znicon-link:before {
	content: "\e005";
}

.znicon-bell:before {
	content: "\e006";
}

.znicon-lock:before {
	content: "\e007";
}

.znicon-unlock:before {
	content: "\e008";
}

.znicon-ribbon:before {
	content: "\e009";
}

.znicon-image:before {
	content: "\e010";
}

.znicon-signal:before {
	content: "\e011";
}

.znicon-target:before {
	content: "\e012";
}

.znicon-clipboard:before {
	content: "\e013";
}

.znicon-clock:before {
	content: "\e014";
}

.znicon-watch:before {
	content: "\e015";
}

.znicon-air-play:before {
	content: "\e016";
}

.znicon-camera:before {
	content: "\e017";
}

.znicon-video:before {
	content: "\e018";
}

.znicon-disc:before {
	content: "\e019";
}

.znicon-printer:before {
	content: "\e020";
}

.znicon-monitor:before {
	content: "\e021";
}

.znicon-server:before {
	content: "\e022";
}

.znicon-cog:before {
	content: "\e023";
}

.znicon-heart:before {
	content: "\e024";
}

.znicon-paragraph:before {
	content: "\e025";
}

.znicon-align-justify:before {
	content: "\e026";
}

.znicon-align-left:before {
	content: "\e027";
}

.znicon-align-center:before {
	content: "\e028";
}

.znicon-align-right:before {
	content: "\e029";
}

.znicon-book:before {
	content: "\e030";
}

.znicon-layers:before {
	content: "\e031";
}

.znicon-stack:before {
	content: "\e032";
}

.znicon-stack-2:before {
	content: "\e033";
}

.znicon-paper:before {
	content: "\e034";
}

.znicon-paper-stack:before {
	content: "\e035";
}

.znicon-search:before {
	content: "\e036";
}

.znicon-zoom-in:before {
	content: "\e037";
}

.znicon-zoom-out:before {
	content: "\e038";
}

.znicon-reply:before {
	content: "\e039";
}

.znicon-circle-plus:before {
	content: "\e040";
}

.znicon-circle-minus:before {
	content: "\e041";
}

.znicon-circle-check:before {
	content: "\e042";
}

.znicon-circle-cross:before {
	content: "\e043";
}

.znicon-square-plus:before {
	content: "\e044";
}

.znicon-square-minus:before {
	content: "\e045";
}

.znicon-square-check:before {
	content: "\e046";
}

.znicon-square-cross:before {
	content: "\e047";
}

.znicon-microphone:before {
	content: "\e048";
}

.znicon-record:before {
	content: "\e049";
}

.znicon-skip-back:before {
	content: "\e050";
}

.znicon-rewind:before {
	content: "\e051";
}

.znicon-play:before {
	content: "\e052";
}

.znicon-pause:before {
	content: "\e053";
}

.znicon-stop:before {
	content: "\e054";
}

.znicon-fast-forward:before {
	content: "\e055";
}

.znicon-skip-forward:before {
	content: "\e056";
}

.znicon-shuffle:before {
	content: "\e057";
}

.znicon-repeat:before {
	content: "\e058";
}

.znicon-folder:before {
	content: "\e059";
}

.znicon-umbrella:before {
	content: "\e060";
}

.znicon-moon:before {
	content: "\e061";
}

.znicon-thermometer:before {
	content: "\e062";
}

.znicon-drop:before {
	content: "\e063";
}

.znicon-sun:before {
	content: "\e064";
}

.znicon-cloud:before {
	content: "\e065";
}

.znicon-cloud-upload:before {
	content: "\e066";
}

.znicon-cloud-download:before {
	content: "\e067";
}

.znicon-upload:before {
	content: "\e068";
}

.znicon-download:before {
	content: "\e069";
}

.znicon-location:before {
	content: "\e070";
}

.znicon-location-2:before {
	content: "\e071";
}

.znicon-map:before {
	content: "\e072";
}

.znicon-battery:before {
	content: "\e073";
}

.znicon-head:before {
	content: "\e074";
}

.znicon-briefcase:before {
	content: "\e075";
}

.znicon-speech-bubble:before {
	content: "\e076";
}

.znicon-anchor:before {
	content: "\e077";
}

.znicon-globe:before {
	content: "\e078";
}

.znicon-box:before {
	content: "\e079";
}

.znicon-reload:before {
	content: "\e080";
}

.znicon-share:before {
	content: "\e081";
}

.znicon-marquee:before {
	content: "\e082";
}

.znicon-marquee-plus:before {
	content: "\e083";
}

.znicon-marquee-minus:before {
	content: "\e084";
}

.znicon-tag:before {
	content: "\e085";
}

.znicon-power:before {
	content: "\e086";
}

.znicon-command:before {
	content: "\e087";
}

.znicon-alt:before {
	content: "\e088";
}

.znicon-esc:before {
	content: "\e089";
}

.znicon-bar-graph:before {
	content: "\e090";
}

.znicon-bar-graph-2:before {
	content: "\e091";
}

.znicon-pie-graph:before {
	content: "\e092";
}

.znicon-star:before {
	content: "\e093";
}

.znicon-arrow-left:before {
	content: "\e094";
}

.znicon-arrow-right:before {
	content: "\e095";
}

.znicon-arrow-up:before {
	content: "\e096";
}

.znicon-arrow-down:before {
	content: "\e097";
}

.znicon-volume:before {
	content: "\e098";
}

.znicon-mute:before {
	content: "\e099";
}

.znicon-content-right:before {
	content: "\e100";
}

.znicon-content-left:before {
	content: "\e101";
}

.znicon-grid:before {
	content: "\e102";
}

.znicon-grid-2:before {
	content: "\e103";
}

.znicon-columns:before {
	content: "\e104";
}

.znicon-loader:before {
	content: "\e105";
}

.znicon-bag:before {
	content: "\e106";
}

.znicon-ban:before {
	content: "\e107";
}

.znicon-flag:before {
	content: "\e108";
}

.znicon-trash:before {
	content: "\e109";
}

.znicon-expand:before {
	content: "\e110";
}

.znicon-contract:before {
	content: "\e111";
}

.znicon-maximize:before {
	content: "\e112";
}

.znicon-minimize:before {
	content: "\e113";
}

.znicon-plus:before {
	content: "\e114";
}

.znicon-minus:before {
	content: "\e115";
}

.znicon-check:before {
	content: "\e116";
}

.znicon-cross:before {
	content: "\e117";
}

.znicon-move:before {
	content: "\e118";
}

.znicon-delete:before {
	content: "\e119";
}

.znicon-menu:before {
	content: "\e120";
}

.znicon-archive:before {
	content: "\e121";
}

.znicon-inbox:before {
	content: "\e122";
}

.znicon-outbox:before {
	content: "\e123";
}

.znicon-file:before {
	content: "\e124";
}

.znicon-file-add:before {
	content: "\e125";
}

.znicon-file-subtract:before {
	content: "\e126";
}

.znicon-help:before {
	content: "\e127";
}

.znicon-open:before {
	content: "\e128";
}

.znicon-ellipsis:before {
	content: "\e129";
}

.znicon-qrcode:before {
	content: "\e938";
}

