// Button 

@mixin btn($width, $height, $padding: null, $radius: $default-radius) {
  @include size($width, $height);
  @include border-radius($radius);
  display: inline-block;
  padding: $padding;
  text-decoration: none !important;
  text-align: center;
}

@mixin btn-varient($color, $background-color) {
  @include btn-gradient($background-color);
  border-color: darken($background-color, 15%);
  color: $color;
}

@mixin btn-gradient ($start-color) {
  $end-color: darken($start-color, 5%);
  background: $start-color;
  background: -moz-linear-gradient(top, $start-color, $end-color);
  background: -webkit-gradient(linear, left top, left bottom, from($start-color), to($end-color));
  &:hover { background: darken($start-color, 6%); }
}

@mixin btn-resize($height, $font-size, $padding) {
  height: $height;
  line-height: $height;
  padding: $padding;
  font-size: $font-size;
}
