/*
Button Mixin

基本ボタン生成
----------------
@include btn($height, $padding: null, $radius: null)

ボタンカラーバリエーション設定
--------------------------------
@include btn-varient($color, $background-color)

ボタングラデーション設定
-----------------------------
@include btn-gradient($start-color)

Styleguide 3.1
*/


// TODO IE8以下対応（box-sizing）

@mixin btn($height, $padding: $height/2 $height, $radius: $default-radius) {
  @include clearfix;
  @include size(auto, $height);
  @include border(1px, solid, null, $radius);
  @include box-shadow(0);
  padding: $padding;
  display: inline-block;
  text-decoration: none !important;
  cursor: pointer;
  box-sizing: content-box;
  &:focus { outline: none; }
}

@mixin btn-varient($color, $background-color) {
  @include btn-gradient($background-color);
  border-color: darken($background-color, 8%);
  color: $color;
  &:active { background: darken($background-color, 6%); }
}

@mixin btn-gradient ($start-color) {
  $end-color: darken($start-color, 2%);
  background: $start-color;
  background: -moz-linear-gradient(top, $start-color, $end-color);
  background: -webkit-gradient(linear, left top, left bottom, from($start-color), to($end-color));
  @include media(pc) {
    &:hover { background: darken($start-color, 4%); }
  }
}

@mixin btn-resize($height, $font-size, $padding: $height/2 $height) {
  height: $height;
  line-height: $height;
  padding: $padding;
  font-size: $font-size;
}
