/*
Button Mixin
*/


@mixin btn($height, $padding: $height/2 $height) {
  @include clearfix;
  @include size(auto);
  @include border(1px, solid, $gray100, 2px);
  padding: $padding;
  display: inline-block;
  display: inline-flex;
  text-decoration: none !important;
  cursor: pointer;
  &:focus { outline: none; }
}

@mixin btn-varient($color, $background-color) {
  @include box-shadow(0 1px 3px darken($background-color, 6%));
  background-color: $background-color;
  border-color: darken($background-color, 8%);
  color: $color;
  &:hover { background: darken($background-color, 3%) !important; }
  &:active {
    @include box-shadow(none);
    background: darken($background-color, 6%) !important;
  }
}

@mixin btn-gradient ($start-color, $end-color: darken($start-color, 2%)) {
  background: $start-color;
  background: -moz-linear-gradient(top, $start-color, $end-color);
  background: -webkit-gradient(linear, left top, left bottom, from($start-color), to($end-color));
  &:hover { background: darken($start-color, 3%); }
}

@mixin btn-resize($height, $font-size, $padding: $height/2 $height) {
  line-height: $height;
  padding: $padding;
  font-size: $font-size;
}
