// Icon

@mixin icon($w, $h:$w) {
  @include size($w, $h);
  &:before {
    @include size($w, $h);
    content: "";
    text-decoration: inherit;
    display: inline-block;
    background-size: $w $h;
    vertical-align: top;
  }
}
