// Zenigame
//
// Mixin 
//-------------------------------

@import "background-image";
@import "blur";
@import "border";
@import "box-shadow";
@import "clearfix";
@import "media-query";
@import "opacity";
@import "position";
@import "size";
@import "space";
@import "transition";
@import "typography";

@import "button"; // include: border
@import "card"; // include: box-shadow


// old -------------------------------------

// Block 
@mixin block($_padding:null, $_margin:null) {
  padding: $_padding;
  margin: $_margin;
}

// position 
@mixin pos($_pos, $_top:0, $_left:0, $_z:null) {
  position: $_pos;
  top: $_top;
  left: $_left;
  z-index: $_z;
}

// Underline on mouseover 
@mixin on_underline {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
// Partials 
//-------------------------------

@mixin thumb($_width:150px, $_height:125px, $_border:3px) {
  @include size($_width + $_border * 2, $_height + $_border * 2);
  @include border_radius($radius);
  @include pos(relative, 0, 0, 1);
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  img { 
    @include border($_border, solid, $white, $radius);
    @include size($_width, auto); 
    display: inline-block;
  }
}

