@mixin pos($pos, $top: null, $left: null, $bottom: null, $right: null, $z: null) {
  position: $pos;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  z-index: $z;
}

@mixin z($z:0) {
  position: relative;
  z-index: $z;
}
