/*
Config

$phone-test
------------------
スマホ用スタイルをwebで確認するためフラグ。具体的には、MediaQueryの切り替えをおこなってる

$theme-color
------------------
テーマカラー

Styleguide 1.2
*/

$phone-test: false !default;
$bp-phone: 480px;
$bp-tablet: 768px;
$bp-pc: 1024px;

$theme-color: #000 !default;
