// Break Point
$bp-phone: 480px;
$bp-tablet: 768px;
$bp-pc: 1024px;

// Theme Color
$theme-color: #000 !default;

// Default Value Settings
$default-font-size: 16px !default;
$default-color: $gray900 !default;
$default-line-height: 1.6 !default;
$default-radius: 4px !default;
$default-view-width: 1165px !default;
