/* 
  Zenigame
  reset
*/

a, abbr, acronym, address, applet, b, big, blockquote, body, caption, center,
cite, code, dd, del, dfn, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6,
html, i, iframe, ins, img, kbd, label, legend, li, object, ol, p, pre, q, s, samp,
small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt,
u, ul, var {
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: bottom;
}

body {
  font-family: $font-family-body;
  font-family: $font-family-body-ie8/9;
  background: $extra-light-gray;
  -webkit-text-size-adjust: none;
  line-height: 0;
  -ms-zoom: 1;
}

a {
  color: $blue;
  &:hover { text-decoration: none; }
}

a:focus { outline: none; }

strong { font-weight: 600; }

em { font-style: italic; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

h1 {
  $size: $default-font-size + 11px;
  font-size: $size;
  line-height: $size;
}

h2 {
  $size: $default-font-size + 8px;
  font-size: $size;
  line-height: $size;
}

h3 {
  $size: $default-font-size + 5px;
  font-size: $size;
  line-height: $size;
}

h4 {
  $size: $default-font-size + 2px;
  font-size: $size;
  line-height: $size;
}

h5 {
  $size: $default-font-size;
  font-size: $size;
  line-height: $size;
}

h6 {
  $size: $default-font-size + -2px;
  font-size: $size;
  line-height: $size;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

button {
  box-sizing: content-box;
  cursor: pointer;
}

input, textarea {
  padding: 0;
  margin: 0;
}

ol, ul { list-style: none; }

table {
  border-collapse: collapse; 
  border-spacing: 0;
}

caption, th { text-align: left; }
