// Font
$font: Helvetica Neue, Helvetica, Arial, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
$font-ie8: 'ＭＳ Ｐゴシック', sans-serif;
$font-serif: 'YuMincho', 'Yu Mincho', 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro';

$gray50: #fafafa;
$gray100: #f2f2f2;
$gray200: #e0e0e0;
$gray300: #ccc;
$gray400: #b0b0b0;
$gray500: #949494;
$gray600: #757575;
$gray700: #5c5c5c;
$gray800: #3d3d3d;
$gray900: #212121;

$red50: #fff4f0;
$red100: #ffe2d9;
$red200: #ffbca6;
$red300: #ff9673;
$red400: #ff7040;
$red500: #fc490d;
$red600: #e83a00;
$red700: #c43100;
$red800: #a12800;
$red900: #802000;

$yellow50: #fffaf0;
$yellow100: #fff2d9;
$yellow200: #fff0a6;
$yellow300: #ffe873;
$yellow400: #ffdf40;
$yellow500: #ffd500;
$yellow600: #ffc400;
$yellow700: #fcad00;
$yellow800: #e69100;
$yellow900: #bf7000;

$green50: #ebfaf0;
$green100: #d4fae1;
$green200: #96fab7;
$green300: #63f794;
$green400: #30f271;
$green500: #00e64d;
$green600: #00d146;
$green700: #00b83d;
$green800: #009e35;
$green900: #00852c;

$blue50: #edf7fc;
$blue100: #d7f0fc;
$blue200: #a4dffc;
$blue300: #72cefc;
$blue400: #4cc2fc;
$blue500: #32b7fa;
$blue600: #24acf0;
$blue700: #0094de;
$blue800: #0081c2;
$blue900: #006da3;


// Monotone
$black: #000; // 0%
$light-black: #333; // 20%
$extra-dark-gray: #555; // 32%
$dark-gray: #666; // 40%
$gray: #999; // 60%
$light-gray: #ccc; // 80%
$extra-light-gray: #f2f2f2; // 95%
$dark-white: #fafafa; // 98%
$white: #fff; // 100%

// Colors
$blue: #3ae;
$red: #f33;
$green: #3c6;
$yellow: #fde299;
$pink: #fd6f86;
$mocha: #9C9082;

$extra-light-blue: lighten($blue, 42%);
$light-blue: lighten($blue, 16%);
$dark-blue: darken($blue, 16%);
$extra-dark-blue: darken($blue, 45%);

$extra-light-red: lighten($red, 45%);
$light-red: lighten($red, 16%);
$dark-red: darken($red, 16%);
$extra-dark-red: darken($red, 45%);

$extra-light-green: lighten($green, 45%);
$light-green: lighten($green, 16%);
$dark-green: darken($green, 16%);
$extra-dark-green: darken($green, 45%);

$extra-light-yellow: lighten($yellow, 45%);
$light-yellow: lighten($yellow, 16%);
$dark-yellow: darken($yellow, 16%);
$extra-dark-yellow: darken($yellow, 45%);

$extra-light-pink: lighten($pink, 45%);
$light-pink: lighten($pink, 16%);
$dark-pink: darken($pink, 16%);
$extra-dark-pink: darken($pink, 45%);

$extra-light-mocha: lighten($mocha, 38%);
$light-mocha: lighten($mocha, 16%);
$dark-mocha: darken($mocha, 16%);
$extra-dark-mocha: darken($mocha, 38%);

// Colors Extension
$sky: #39c;
$gold: #b28247;
