// Font
$font: Helvetica Neue, Helvetica, Arial, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
$font-ie8: 'ＭＳ Ｐゴシック', sans-serif;
$font-serif: 'YuMincho', 'Yu Mincho', 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro';

$gray50: #fafafa;
$gray100: #f2f2f2;
$gray200: #e0e0e0;
$gray300: #ccc;
$gray400: #b0b0b0;
$gray500: #949494;
$gray600: #757575;
$gray700: #5c5c5c;
$gray800: #3d3d3d;
$gray900: #212121;

$red50: #fff4f0;
$red100: #ffe2d9;
$red200: #ffbca6;
$red300: #ff9673;
$red400: #ff7040;
$red500: #fc490d;
$red600: #e83a00;
$red700: #c43100;
$red800: #a12800;
$red900: #802000;

$yellow50: #fffaf0;
$yellow100: #fff2d9;
$yellow200: #fff0a6;
$yellow300: #ffe873;
$yellow400: #ffdf40;
$yellow500: #ffd500;
$yellow600: #ffc400;
$yellow700: #fcad00;
$yellow800: #e69100;
$yellow900: #bf7000;

$green50: #ebfaf0;
$green100: #d4fae1;
$green200: #96fab7;
$green300: #63f794;
$green400: #30f271;
$green500: #00e64d;
$green600: #00d146;
$green700: #00b83d;
$green800: #009e35;
$green900: #00852c;

$blue50: #edf7fc;
$blue100: #d7f0fc;
$blue200: #a4dffc;
$blue300: #72cefc;
$blue400: #4cc2fc;
$blue500: #32b7fa;
$blue600: #24acf0;
$blue700: #0094de;
$blue800: #0081c2;
$blue900: #006da3;
