- var title = "Color"
- var path  = "../"
include ../_base
  prepend contents

    :markdown
      ##Color
      変数は $gray50 といった形で定義している。

    .Colors
      h3 Gray
      ul
        li.color.gray50 50
        li.color.gray100 100
        li.color.gray200 200
        li.color.gray300 300
        li.color.gray400 400
        li.color.gray500 500
        li.color.gray600 600
        li.color.gray700 700
        li.color.gray800 800
        li.color.gray900 900

    .Colors
      h3 Red
      ul
        li.color.red50 50
        li.color.red100 100
        li.color.red200 200
        li.color.red300 300
        li.color.red400 400
        li.color.red500 500
        li.color.red600 600
        li.color.red700 700
        li.color.red800 800
        li.color.red900 900

    .Colors
      h3 Yellow
      ul
        li.color.yellow50 50
        li.color.yellow100 100
        li.color.yellow200 200
        li.color.yellow300 300
        li.color.yellow400 400
        li.color.yellow500 500
        li.color.yellow600 600
        li.color.yellow700 700
        li.color.yellow800 800
        li.color.yellow900 900

    .Colors
      h3 Green
      ul
        li.color.green50 50
        li.color.green100 100
        li.color.green200 200
        li.color.green300 300
        li.color.green400 400
        li.color.green500 500
        li.color.green600 600
        li.color.green700 700
        li.color.green800 800
        li.color.green900 900

    .Colors
      h3 Blue
      ul
        li.color.blue50 50
        li.color.blue100 100
        li.color.blue200 200
        li.color.blue300 300
        li.color.blue400 400
        li.color.blue500 500
        li.color.blue600 600
        li.color.blue700 700
        li.color.blue800 800
        li.color.blue900 900
