
.gray50 {
  background: $gray50;
  &:after { content: "#{$gray50}"; }
}
.gray100 {
  background: $gray100;
  &:after { content: "#{$gray100}"; }
}
.gray200 {
  background: $gray200;
  &:after { content: "#{$gray200}"; }
}
.gray300 {
  background: $gray300;
  &:after { content: "#{$gray300}"; }
}
.gray400 {
  background: $gray400;
  &:after { content: "#{$gray400}"; }
}
.gray500 {
  background: $gray500;
  &:after { content: "#{$gray500}"; }
}
.gray600 {
  background: $gray600;
  &:after { content: "#{$gray600}"; }
}
.gray700 {
  background: $gray700;
  &:after { content: "#{$gray700}"; }
}
.gray800 {
  background: $gray800;
  &:after { content: "#{$gray800}"; }
}
.gray900 {
  background: $gray900;
  &:after { content: "#{$gray900}"; }
}



.red50 {
  background: $red50;
  &:after { content: "#{$red50}"; }
}
.red100 {
  background: $red100;
  &:after { content: "#{$red100}"; }
}
.red200 {
  background: $red200;
  &:after { content: "#{$red200}"; }
}
.red300 {
  background: $red300;
  &:after { content: "#{$red300}"; }
}
.red400 {
  background: $red400;
  &:after { content: "#{$red400}"; }
}
.red500 {
  background: $red500;
  &:after { content: "#{$red500}"; }
}
.red600 {
  background: $red600;
  &:after { content: "#{$red600}"; }
}
.red700 {
  background: $red700;
  &:after { content: "#{$red700}"; }
}
.red800 {
  background: $red800;
  &:after { content: "#{$red800}"; }
}
.red900 {
  background: $red900;
  &:after { content: "#{$red900}"; }
}



.yellow50 {
  background: $yellow50;
  &:after { content: "#{$yellow50}"; }
}
.yellow100 {
  background: $yellow100;
  &:after { content: "#{$yellow100}"; }
}
.yellow200 {
  background: $yellow200;
  &:after { content: "#{$yellow200}"; }
}
.yellow300 {
  background: $yellow300;
  &:after { content: "#{$yellow300}"; }
}
.yellow400 {
  background: $yellow400;
  &:after { content: "#{$yellow400}"; }
}
.yellow500 {
  background: $yellow500;
  &:after { content: "#{$yellow500}"; }
}
.yellow600 {
  background: $yellow600;
  &:after { content: "#{$yellow600}"; }
}
.yellow700 {
  background: $yellow700;
  &:after { content: "#{$yellow700}"; }
}
.yellow800 {
  background: $yellow800;
  &:after { content: "#{$yellow800}"; }
}
.yellow900 {
  background: $yellow900;
  &:after { content: "#{$yellow900}"; }
}



.green50 {
  background: $green50;
  &:after { content: "#{$green50}"; }
}
.green100 {
  background: $green100;
  &:after { content: "#{$green100}"; }
}
.green200 {
  background: $green200;
  &:after { content: "#{$green200}"; }
}
.green300 {
  background: $green300;
  &:after { content: "#{$green300}"; }
}
.green400 {
  background: $green400;
  &:after { content: "#{$green400}"; }
}
.green500 {
  background: $green500;
  &:after { content: "#{$green500}"; }
}
.green600 {
  background: $green600;
  &:after { content: "#{$green600}"; }
}
.green700 {
  background: $green700;
  &:after { content: "#{$green700}"; }
}
.green800 {
  background: $green800;
  &:after { content: "#{$green800}"; }
}
.green900 {
  background: $green900;
  &:after { content: "#{$green900}"; }
}



.blue50 {
  background: $blue50;
  &:after { content: "#{$blue50}"; }
}
.blue100 {
  background: $blue100;
  &:after { content: "#{$blue100}"; }
}
.blue200 {
  background: $blue200;
  &:after { content: "#{$blue200}"; }
}
.blue300 {
  background: $blue300;
  &:after { content: "#{$blue300}"; }
}
.blue400 {
  background: $blue400;
  &:after { content: "#{$blue400}"; }
}
.blue500 {
  background: $blue500;
  &:after { content: "#{$blue500}"; }
}
.blue600 {
  background: $blue600;
  &:after { content: "#{$blue600}"; }
}
.blue700 {
  background: $blue700;
  &:after { content: "#{$blue700}"; }
}
.blue800 {
  background: $blue800;
  &:after { content: "#{$blue800}"; }
}
.blue900 {
  background: $blue900;
  &:after { content: "#{$blue900}"; }
}
