@font-face {
	font-family: 'icomoon';
	src:url('/fonts/icomoon.eot?-f8hobi');
	src:url('/fonts/icomoon.eot?#iefix-f8hobi') format('embedded-opentype'),
		url('/fonts/icomoon.woff?-f8hobi') format('woff'),
		url('/fonts/icomoon.ttf?-f8hobi') format('truetype'),
		url('/fonts/icomoon.svg?-f8hobi#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="znicon-"], [class*=" znicon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.znicon-home3:before {
	content: "\e902";
}

.znicon-file-empty:before {
	content: "\e924";
}

.znicon-files-empty:before {
	content: "\e925";
}

.znicon-file-text2:before {
	content: "\e926";
}

.znicon-folder-open:before {
	content: "\e930";
}

.znicon-price-tag:before {
	content: "\e935";
}

.znicon-price-tags:before {
	content: "\e936";
}

.znicon-cart:before {
	content: "\e93a";
}

.znicon-coin-dollar:before {
	content: "\e93b";
}

.znicon-coin-yen:before {
	content: "\e93e";
}

.znicon-credit-card:before {
	content: "\e93f";
}

.znicon-phone:before {
	content: "\e942";
}

.znicon-location:before {
	content: "\e947";
}

.znicon-compass:before {
	content: "\e949";
}

.znicon-map2:before {
	content: "\e94c";
}

.znicon-clock:before {
	content: "\e94e";
}

.znicon-display:before {
	content: "\e956";
}

.znicon-mobile:before {
	content: "\e958";
}

.znicon-database:before {
	content: "\e964";
}

.znicon-undo2:before {
	content: "\e967";
}

.znicon-redo2:before {
	content: "\e968";
}

.znicon-bubble:before {
	content: "\e96b";
}

.znicon-bubbles:before {
	content: "\e96c";
}

.znicon-bubble2:before {
	content: "\e96e";
}

.znicon-user:before {
	content: "\e971";
}

.znicon-users:before {
	content: "\e972";
}

.znicon-spinner11:before {
	content: "\e984";
}

.znicon-search:before {
	content: "\e986";
}

.znicon-zoom-in:before {
	content: "\e987";
}

.znicon-zoom-out:before {
	content: "\e988";
}

.znicon-enlarge:before {
	content: "\e989";
}

.znicon-shrink:before {
	content: "\e98a";
}

.znicon-enlarge2:before {
	content: "\e98b";
}

.znicon-shrink2:before {
	content: "\e98c";
}

.znicon-lock:before {
	content: "\e98f";
}

.znicon-unlocked:before {
	content: "\e990";
}

.znicon-cog:before {
	content: "\e994";
}

.znicon-stats-dots:before {
	content: "\e99b";
}

.znicon-stats-bars:before {
	content: "\e99c";
}

.znicon-stats-bars2:before {
	content: "\e99d";
}

.znicon-meter:before {
	content: "\e9a6";
}

.znicon-bin:before {
	content: "\e9ac";
}

.znicon-menu:before {
	content: "\e9bd";
}

.znicon-cloud:before {
	content: "\e9c1";
}

.znicon-sphere:before {
	content: "\e9c9";
}

.znicon-star-empty:before {
	content: "\e9d7";
}

.znicon-star-full:before {
	content: "\e9d9";
}

.znicon-heart:before {
	content: "\e9da";
}

.znicon-neutral:before {
	content: "\e9f7";
}

.znicon-notification:before {
	content: "\ea08";
}

.znicon-question:before {
	content: "\ea09";
}

.znicon-info:before {
	content: "\ea0c";
}

.znicon-cancel-circle:before {
	content: "\ea0d";
}

.znicon-blocked:before {
	content: "\ea0e";
}

.znicon-checkmark:before {
	content: "\ea10";
}

.znicon-loop:before {
	content: "\ea2d";
}

.znicon-loop2:before {
	content: "\ea2e";
}

.znicon-shuffle:before {
	content: "\ea30";
}

.znicon-page-break:before {
	content: "\ea68";
}

.znicon-table:before {
	content: "\ea70";
}

.znicon-new-tab:before {
	content: "\ea7e";
}

.znicon-embed2:before {
	content: "\ea80";
}

.znicon-heart2:before {
	content: "\e600";
}

.znicon-cloud2:before {
	content: "\e601";
}

.znicon-star:before {
	content: "\e602";
}

.znicon-video:before {
	content: "\e605";
}

.znicon-trash:before {
	content: "\e606";
}

.znicon-user2:before {
	content: "\e607";
}

.znicon-key:before {
	content: "\e608";
}

.znicon-search2:before {
	content: "\e609";
}

.znicon-settings:before {
	content: "\e60a";
}

.znicon-camera:before {
	content: "\e60b";
}

.znicon-tag:before {
	content: "\e60c";
}

.znicon-lock2:before {
	content: "\e60d";
}

.znicon-bulb:before {
	content: "\e60e";
}

.znicon-pen:before {
	content: "\e60f";
}

.znicon-diamond:before {
	content: "\e610";
}

.znicon-display2:before {
	content: "\e611";
}

.znicon-location2:before {
	content: "\e612";
}

.znicon-eye:before {
	content: "\e613";
}

.znicon-bubble3:before {
	content: "\e614";
}

.znicon-stack:before {
	content: "\e615";
}

.znicon-phone2:before {
	content: "\e617";
}

.znicon-news:before {
	content: "\e618";
}

.znicon-mail:before {
	content: "\e619";
}

.znicon-like:before {
	content: "\e61a";
}

.znicon-photo:before {
	content: "\e61b";
}

.znicon-note:before {
	content: "\e61c";
}

.znicon-clock2:before {
	content: "\e61d";
}

.znicon-paperplane:before {
	content: "\e61e";
}

.znicon-params:before {
	content: "\e61f";
}

.znicon-banknote:before {
	content: "\e620";
}

.znicon-data:before {
	content: "\e621";
}

.znicon-clip:before {
	content: "\e629";
}

.znicon-shop:before {
	content: "\e62a";
}

.znicon-calendar:before {
	content: "\e62b";
}

.znicon-truck:before {
	content: "\e62e";
}

.znicon-world:before {
	content: "\e62f";
}

