//
// Cards 
//-------------------------------

.card-box {
  padding: 0 1px;
  float: left;
}

// Card 
//-------------------------------

.card-coupon {
  @extend %anim-bloom;
  @include cards(156px, 240px); 
}

.card-coupon-promotion {
  @include cards(900px, 220px, 0);
  @include border(1px, solid, $extra-light-gray, $radius);
  @include box-shadow(none);
}

.card-promotion {
  @include cards(445px, auto, 24px, 20px, 24px, 20px);
  @include border-radius($radius);
}


// Card Animation
//-------------------------------

.anim-highlight {
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transition-property: padding;
  transition-duration: 300ms;
  &:hover { padding: 0 10px; }
}

%anim-bloom {
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transition-property: width;
  transition-duration: 300ms;
}

