// Zenigame
//
// Common 
//-------------------------------

.clear { clear: both; }

.pull-left { float: left; }
.pull-right { float: right; }
.flush-left { text-align: left !important; }
.flush-right { text-align: right !important; }
.flush-center { text-align: center; }

.is-ok { color: $green !important; }
.is-no { color: $yellow !important; }

.plain { text-decoration: none; }

.inline-block { display: inline-block; }

// Padding 
//-------------------------------

.pr10 { padding-right: 10px; }
.pb10 { padding-bottom: 10px; }
.pt10 { padding-top: 10px; }
.pb20 { padding-bottom: 20px; }
.pt20 { padding-top: 20px; }


// Margin 
//-------------------------------

.m0 { margin: 0 !important; }

// Letter Spacing 
//-------------------------------

.ls-1 { letter-spacing: -1px !important; }
.ls0 { letter-spacing: 0px !important; }
.ls1 { letter-spacing: 1px !important; }

// Color 
//-------------------------------

.cr { color: $red; }
.cg { color: $green; }
.cb { color: $blue; }
.cy { color: $yellow; }

// Text 
//-------------------------------

.text-lg {
  @include typo(17px, $black, 400, 1.45);
}

.text {
  @include typo(14px, $black, 300, 1.45);
}


.text-sm {
  @include typo(12px, $light-black, 300, 1.45);
}

.text-xs {
  @include typo(10px, $dark-gray, 300, 1.45);
}

.text-loose {
  @extend .text;
  line-height: 1.7em;
}

a.text { color: $blue; }
a.text-lg { color: $blue; }
a.text-sm { color: $blue; }
a.text-xs { color: $blue; }

// Button
//-------------------------------

%btn {
  @include btn(auto, 28px, 0 10px);
  @include typo(12px, null, normal, 28px);
  @include border(1px, solid, null);
}


.btn {
  @extend %btn;
  @include btn-varient($dark-gray, $white);
}

.btn-default {
  @extend %btn;
  @include btn-varient($dark-gray, $white);
}

.btn-extra {
  @extend %btn;
  @include btn-varient($white, $blue);
}

.btn-entry {
  @extend %btn;
  @include btn-varient($white, $green);
}



.btn-lg {
  @extend .btn;
  @include btn-resize(36px, 14px, null);
}

.btn-lg-entry {
  @extend .btn-entry;
  @include btn-resize(36px, 14px, null);
}

.btn-lg-extra {
  @extend .btn-extra;
  @include btn-resize(36px, 14px, null);
}



.btn-sm {
  @extend .btn;
  @include btn-resize(22px, 12px, null);
}

.btn-sm-extra {
  @extend .btn-extra;
  @include btn-resize(22px, 12px, null);
}

.btn-sm-entry {
  @extend .btn-entry;
  @include btn-resize(22px, 12px, null);
}



.btn-spring {
  @extend %btn;
  @include btn-varient($white, $pink);
}


// dropdown menu 
//-------------------------------

.dropdown {
  @include pos(relative, 0, 0, 1);
  .btn { padding: 0 30px 0 10px; }
  .btn, .btn:hover {
    @include b_img("#{$img_path}/icon-toggle-down.png", no-repeat, right, 16px);
  }
}

.dropdown-menu {
  @include pos(absolute, 90%, 0, 2);
  @include box_shadow(0 1px 2px $dark_gray);
  @include border_radius($radius);
  display: none;
  width: auto;
  padding: 10px 15px;
  background: $white;
  li { padding: 5px 0; }
  a {
    @include typo(13px, $white, null, 1.45);
    color: $light_black;
    white-space: nowrap;
    text-decoration: none;
    &:hover { color: $blue; }
  }
}


// Tab Navigation 
//-------------------------------

.nav-tabs {
  @include size(auto, 35px);
  position: relative;
  li {
    padding: 0 5px 0 0;
    float: left;
    a {
      @extend .text-sm;
      @include border-radius($radius $radius 0 0);
      line-height: 35px;
      padding: 0 20px;
      display: block;
      &.is-active {
        @include border(1px 1px 0 1px, solid, $light-gray);
      }
      &:hover { text-decoration: none; }
    }
  }
}

.toggle {
  .toggle-icon {
    @include b_img("#{$img_path}/icon-toggle-down.png", no-repeat, right, 16px); 
  }
  &.is-active {
    .toggle-icon {
      @include b_img("#{$img_path}/icon-toggle-up.png", no-repeat, right, 16px);
    }
  }
}


