// Zenigame
//
// Styleguide 1.0.0

@import "buttons";

.clear { clear: both; }
.clearfix { @include clearfix; }

.pull-left { float: left; }
.pull-right { float: right; }
.pull-center { margin: 0 auto; }
.flush-left { text-align: left !important; }
.flush-right { text-align: right !important; }
.flush-center { text-align: center; }

.is-ok { color: $green !important; }
.is-no { color: $yellow !important; }

.plain { text-decoration: none; }

.inline-block { display: inline-block; }

.nowrap { white-space: nowrap; }

.break { word-break: break-all; }

// Grid 
//-------------------------------

%grid {
  overflow: hidden;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.grid05 {
  @extend %grid;
  width: $grid-size / 2;
}

@for $value from 1 through $grid-column {
  .grid#{$value} {
    @extend %grid;
    width: $grid-size * $value;
  }
}


// Line height
//-------------------------------


.lh15 { line-height: 15px !important; }
.lh20 { line-height: 20px !important; }


// Padding - Px 
//-------------------------------

@for $value from 1 through 4 {
  .p#{5*$value} { padding: 5px * $value; }
  .pt#{5*$value} { padding-top: 5px * $value; }
  .pr#{5*$value} { padding-right: 5px * $value; }
  .pb#{5*$value} { padding-bottom: 5px * $value; }
  .pl#{5*$value} { padding-left: 5px * $value; }
  .ptb#{5*$value} {
    padding-top: 5px * $value;
    padding-bottom: 5px * $value;
  }
  .pbs#{5*$value} {
    padding-right: 5px * $value;
    padding-left: 5px * $value;
  }
}


.pbs5 {
  padding-left: 5px;
  padding-right: 5px;
}
.pbs10 {
  padding-left: 10px;
  padding-right: 10px;
}
.pbs15 {
  padding-left: 15px;
  padding-right: 15px;
}
.pbs20 {
  padding-left: 20px;
  padding-right: 20px;
}


// Padding - Percent 
//-------------------------------

.pp3 { padding: 3%; }
.ppt3 { padding-top: 3%; }
.ppb3 { padding-bottom: 3%; }
.ppbs3 {
  padding-right: 3%;
  padding-left: 3%;
}
.pptb3 {
  padding-top: 3%;
  padding-bottom: 3%;
}
.pp4 { padding: 4%; }
.ppt4 { padding-top: 4%; }
.ppb4 { padding-bottom: 4%; }
.ppbs4 {
  padding-right: 4%;
  padding-left: 4%;
}
.pptb4 {
  padding-top: 4%;
  padding-bottom: 4%;
}

// Margin 
//-------------------------------

.m0 { margin: 0 !important; }

.mt10 { margin-top: 10px; }
.mr10 { margin-right: 10px; }

.mt20 { margin-top: 20px; }
.mr20 { margin-right: 25px; }

.mt40 { margin-top: 40px; }

// Border 
//-------------------------------

.b1 { border: 1px solid $extra-light-gray; }
.bt1 { border-top: 1px solid $extra-light-gray; }
.bb1 { border-bottom: 1px solid $extra-light-gray; }
.bt3 { border-top: 3px solid $extra-light-gray; }
.bb3 { border-bottom: 3px solid $extra-light-gray; }

.dot { border-style: dotted; }
.bb1o2 {
  @extend .bb1;
  border-color: rgba($extra-light-gray, .2);
}
.bnone { border: 0; }

// Letter Spacing 
//-------------------------------

.ls-1 { letter-spacing: -1px !important; }
.ls0 { letter-spacing: 0px !important; }
.ls1 { letter-spacing: 1px !important; }

// Color 
//-------------------------------

.cr { color: $red !important; }
.cg { color: $green !important; }
.cb { color: $blue !important; }
.cy { color: $yellow !important; }
.cdy { color: $dark-yellow !important; }
.cgr { color: $gray !important; }
.cw { color: $white !important; }


// Background Color 
//-------------------------------

.bcr { background-color: $light-red !important; }
.bcg { background-color: $light-green !important; }
.bcb { background-color: $light-blue !important; }
.bcy { background-color: $light-yellow !important; }
.bcgr { background-color: $extra-light-gray !important; }
.bcdw { background-color: $dark-white !important; }
.bcw { background-color: $white !important; }


// Text 
//-------------------------------

.t-lg { @include typo($default-font-size + 3px, $black, 400, $default-line-height); }
.t { @include typo($default-font-size, $black, 300, $default-line-height); }
.t-sm { @include typo($default-font-size - 2px, $light-black, 300, $default-line-height); }
.t-xs { @include typo($default-font-size - 4px, $dark-gray, 300, $default-line-height); }

.t-loose { line-height: $default-line-height + .3 !important; }

.t-sdw { text-shadow: 0 1px 1px rgba($light-black, .3); }

a.t { color: $blue; }
a.t-lg { color: $blue; }
a.t-sm { color: $blue; }
a.t-xs { color: $blue; }


// Weight 
//-------------------------------

.b, strong { font-weight: 700 !important; }


// Opacity 
//-------------------------------

.o3 { @include opacity(.3); }
.o5 { @include opacity(.5); }
.o8 { @include opacity(.8); }


// dropdown menu 
//-------------------------------

.dropdown {
  @include pos(relative, 0, 0, 1);
  .btn { padding: 0 30px 0 10px; }
  .btn, .btn:hover {
    @include bg-img("#{$img_path}/icon-toggle-down.png", no-repeat, right, 16px);
  }
}

.dropdown-menu {
  @include pos(absolute, 90%, 0, 2);
  @include box-shadow(0 1px 2px $dark-gray);
  @include border-radius($default-radius);
  display: none;
  width: auto;
  padding: 10px 15px;
  background: $white;
  li { padding: 5px 0; }
  a {
    @include typo(13px, $white, null, 1.45);
    color: $light-black;
    white-space: nowrap;
    text-decoration: none;
    &:hover { color: $blue; }
  }
}


// toggle 
//-------------------------------

.toggle {
  .toggle-icon {
    @include bg-img("#{$img_path}/icon-toggle-down.png", no-repeat, right, 16px); 
  }
  &.is-active {
    .toggle-icon {
      @include bg-img("#{$img_path}/icon-toggle-up.png", no-repeat, right, 16px);
    }
  }
}

// blur 
//-------------------------------

.blur {
  @include blur(15px);
  position: relative;
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    display: none;
  }
}



// block anchor 
//-------------------------------

.b-anchor {
  @include block-anchor;
  @include anchor-varient($light-black, $white);
  @include bg-img("#{$img-path}/icon/icon-07.png", no-repeat, right center, 15px);
}

.b-anchor-open {
  @include block-anchor;
  @include anchor-varient($light-black, $white);
  @include bg-img("#{$img-path}/icon/icon-35.png", no-repeat, right center, 22px);
}




// toggle swith
// powered by http://proto.io/freebies/onoff/
//-------------------------------

.toggletitle {
  line-height: 30px;
}
.toggleswitch {
  @include size(70px, 30px);
  @include pos(relative, 0, null, null, 0);
  .checkbox { display: none; }
  label {
    @include size(100%);
    display: block;
    overflow: hidden;
    border-radius: 16px;
  }
  .inner {
    width: 200%;
    height: 100%;
    margin-left: -100%;
    -webkit-transition: margin 100ms ease-in;
    transition: margin 100ms ease-in;
    &:before,
    &:after {
      @include size(45%, 30px);
      @include box-shadow(0 0 2px $light-gray inset);
      @include border-radius(15px); 
      float: left;
      padding: 0;
      line-height: 30px;
    }
    &:before {
      content: "ON";
      padding-left: 5%;
      background-color: $green;
      color: $white;
    }
    &:after {
      content: "OFF";
      padding-right: 5%;
      background-color: $extra-light-gray;
      color: $gray;
      text-align: right;
    }
  }
  .switch {
    @include size(26px);
    @include pos(absolute, 2px, null, null, 42px);
    @include box-shadow(0 0 1px $light-gray);
    margin: 0px;
    background: $white;
    border-radius: 18px;
    -webkit-transition: all 100ms ease-in 0s;
    transition: all 100ms ease-in 0s; 
  }
  .checkbox:checked + label {
    .inner { margin-left: 0; }
    .switch { right: 2px; }
  }
}

